<div class="col-md-offset-1 col-md-6">
  <div class="table-bordered">
  <ngx-datatable
    class="material"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [selectionType]="'single'"
    (select)='onSelect($event)'
    [rows]="tasks"
    [columns]="columns">
  </ngx-datatable>
  </div>
<div class="button-footer table-bordered">
  <button type="button" class="btn btn-primary">New Task</button>
  <button *ngIf="selected" type="button" class="btn btn-primary" (click)="gotoEdit()">Edit Task</button>
</div>
</div>

<!--<div *ngIf="selected">-->
<!--<task-detail [task] = "selected"></task-detail>-->
<!--</div>-->


